/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/eng-ita.autobil.bin
/eng-ita.autogen.bin
/eng-ita.autolex.bin
/eng-ita.automorf.bin
/eng-ita.autopgen.bin
/eng-ita.prob
/eng-ita.rlx.bin
/eng-ita.t1x.bin
/eng-ita.t2x.bin
/eng-ita.t3x.bin
/install-sh
/ita-eng.autobil.bin
/ita-eng.autogen.bin
/ita-eng.autolex.bin
/ita-eng.automorf.bin
/ita-eng.autopgen.bin
/ita-eng.prob
/ita-eng.rlx.bin
/ita-eng.t1x.bin
/ita-eng.t2x.bin
/ita-eng.t3x.bin
/missing
/modes
/*.hfst
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/*.mode
/.deps
/config.in
/config
/test/*-output.txt
